@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contentContainer {
    height: 550px;
    width: 550px;
    background-color: rgb(11, 11, 11);
    border-radius: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 2%;
}

.contentContainer h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-style: normal;
}

.contentContainer p {
    text-align: center;
    font-size: 0.9em;
    color: gray;
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
    margin-top: 2%;
}

.inputs {
    display: flex;
}

.input {
    background-color: black;
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

.verifyBtn {
    width: 400px;
    height: 40px;
    background-color: rgb(34, 151, 83);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    cursor: pointer;
}

.ifield p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
    margin-top: 90px;
    font-size: 1.2em;
}



.ifield {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0;
}



@media (max-width:590px) {
    .contentContainer {
        width: 80vw;
        height: 50vh;
    }

    .input {
        width: 40px;
    }

    .ifield .verifyBtn {
        width: 50vw;
        margin-top: 20%;
    }
}