@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

.d1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;

}

.parent1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 15%;
    transform: translateY(-50%) translateX(-50%);
    height: 84vh;
    width: 500px;
    border-radius: 20px;
    background-color: #000000b9;
    box-shadow: 0px 0px 10px white;
    color: white;
    display: flex;
    transition: 0.8s;
    /* overflow: hidden; */
}

.parent1:hover {
    height: 83vh;
    width: 510px;
    transition: 0.8s;
    box-shadow: 0px 0px 20px white;
}

.registrationFrom1 {
    width: 100%;
}

.title1 {
    font-size: 1.6em;
    margin: 4% 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.inputForm1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ifield1 {
    margin-top: 4%;
}

.ifield1 p {
    font-size: 1.1em;
    margin-left: 3%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ifield1 input {
    margin: 0;
    color: rgb(43, 43, 43);
    width: 27vw;
    height: 6vh;
    min-width: 400px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #D9D9D9;
    box-shadow: 2px 5px;
    outline: none;
}

.btn11 {
    width: 27vw;
    height: 6vh;
    min-width: 400px;
    background-color: #0fad6b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10%;
    cursor: pointer;
}

.btn11:hover {
    background-color: #028a52;
}

.btn11 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4em;
}


.passwordConstraints {
    margin-top: 2%;
    font-size: .7em;
    color: #969292;
    margin-left: -40px;
    line-height: 1.2;
}

.tc1 {
    display: flex;
    margin-left: 40%;
    width: 100%;
    margin-top: 3%;
}

.tc1 p {
    color: #54AEFF;
    margin-left: 2%;
    width: 100%;
    font-size: 1em;

}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.start1 {
    display: flex;
    margin-top: 2%;
}

.start1 div {
    color: #06FF96;
    margin-left: 5px;
}

.start1 p {
    margin-right: 10px;
}


.d1 img {
    height: 80vh;
    margin-left: 0%;
    margin-top: 7%;
}

@media (max-width:935px) {
    .parent1 {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        margin-left: 0;
    }
}

@media (max-width:530px) {
    .parent1 {
        height: 78vh;
        width: 80vw;
    }

    .parent1:hover {
        height: 79vh;
        width: 81vw;
    }

    .ifield1 input,
    .btn11 {
        min-width: auto;
        width: 60vw;
    }
}

@media (max-width:520px) {
    .tc1 {
        margin-left: 22%;
    }

    .passwordConstraints {
        margin-left: 10%;
    }
}

@media (max-width:430px) {
    .parent1 {
        height: 75vh;
    }

    .tc1 {
        margin-left: 7%;
    }

    .tc1 p {
        font-size: 0.9em;

    }
}