.parent {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -1%;
}

.container {
    margin: 0.5%;
    height: 90vh;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    border: 2px solid;
    border-color: #fff;
    border-right: 1px solid white;
    border-top: 1px solid white;
    color: white;
    margin-top: 2%;
    padding: 1%;
    display: flex;
}

.left {
    width: 30%;
    margin: 1%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.306);
}

.leftContainer {
    background-color: #8e8e8e;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.k1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.k11 {
    display: flex;

}

.k11 p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 4px;
    background-color: #1e9a86;
    width: 40px;
    text-align: center;
    border-radius: 20px;
}


.line1 {
    background-color: white;
    height: 4px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px 5px black;
}

.imgDiv {
    margin-top: 15%;
    height: 60%;
    width: 60%;
}

.addPhoto {
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-style: italic;
}

.addPhoto1 {
    margin-top: 5%;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

.right {
    background-color: rgba(0, 0, 0, 0.306);
    width: 70%;
    margin: 1% 1% 0 0%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right h1 {
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
    margin-left: 1%;
}



.rightDiv {
    background-color: #bababa;
    width: 95%;
    height: 20%;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
}

.rightDiv p {
    display: inline-block;
    color: blue;
}

.rightDiv h1 {
    margin-top: 3%;
}

.rightDiv img {
    height: 70%;
    width: 100px;
    margin: 2%;
}

.card {
    padding: 10px;
    box-shadow: 0 0#ffdfdf;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1%;
}

.card p {
    font-weight: bold;
    color: #0086fe;
}

.card .dragArea {
    height: 150px;
    width: 60vw;
    border-radius: 5px;
    border: 2px dashed #0086fe;
    color: #0086fe;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 10px;
    font-size: 1.7em;
}

.card .dragArea .visible {
    font-size: 18px;
}

.card .select {
    color: #5256ad;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.card .select:hover {
    opacity: 0.6;
}

.card .imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.card .imgContainer .image {
    width: 75px;
    margin-right: 5px;
    height: 75px;
    position: relative;
    margin-bottom: 8px;
}

.card .container .image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card .container .image span {
    position: absolute;
    top: -2px;
    right: 9px;
    font-size: 20px;
    cursor: pointer;
}

.card input,
.card .dragArea .on-drop,
.card .dragArea.dragover .visible {
    display: none;
}





.imgContainer {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 97%;
    margin-top: 2%;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.delete {
    z-index: 999;
    color: white;
    cursor: pointer;
    margin-bottom: 13px;
}

.image {
    height: 100%;
    width: 300px;
    border-radius: 5px;
    margin: 0 3px;
    border-radius: 10px;
}

.imgContainer img {
    height: 100%;
    width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7%;
    font-size: 1.3em;
}


.btn1 {
    color: black;
    background-color: white;
    margin-left: 4%;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
}

.btn2 {
    color: white;
    background-color: rgb(88, 88, 255);
    margin-right: 4%;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
}