.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contentContainer {
    height: 550px;
    width: 550px;
    background-color: rgb(11, 11, 11);
    border-radius: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 2%;
}

.contentContainer h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
}

.contentContainer p {
    text-align: center;
    font-size: 0.9em;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-top: 2%;
}

.contentContainer input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin-top: 8%;
    padding-left: 10px;
    color: black;

}

.resetBtn {
    width: 400px;
    height: 40px;
    background-color: rgb(34, 151, 83);
    border-radius: 5px;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    cursor: pointer;
}

.ifield {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
}



@media (max-width:590px) {
    .contentContainer {
        width: 80vw;
        height: 60vh;
    }

    .ifield input,
    .resetBtn {
        width: 60vw;
        margin-top: 15%;
    }
}