.parent {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -1%;
}

.container {
    margin: 0.5%;
    height: 90vh;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    border: 2px solid;
    border-color: #fff;
    border-right: 1px solid white;
    border-top: 1px solid white;
    color: white;
    margin-top: 2%;
    padding: 1%;
    display: flex;
}

.left {
    width: 30%;
    margin: 1%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.306);
}

.leftContainer {
    background-color: #8e8e8e;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.k1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.k11 {
    display: flex;

}

.k11 p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 4px;
    background-color: #1e9a86;
    width: 40px;
    text-align: center;
    border-radius: 20px;
}

.line1 {
    background-color: white;
    height: 4px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px 5px black;
}

.imgDiv {
    margin-top: 15%;
    height: 60%;
    width: 60%;
}

.addPhoto {
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-style: italic;
}

.addPhoto1 {
    margin-top: 5%;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

.right {
    background-color: rgba(0, 0, 0, 0.306);
    width: 70%;
    margin: 1% 1% 0 0%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right h1 {
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
    margin-left: 1%;
}

textarea {
    color: black;
    font-size: 1.3em;
    margin-top: 3%;
    border: none;
    border-radius: 8px;
    padding: 1%;
    width: 97%;
    background-color: rgb(204, 204, 204);
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7%;
    font-size: 1.3em;
}


.btn1 {
    color: black;
    background-color: white;
    margin-left: 4%;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.btn2 {
    color: white;
    background-color: red;
    margin-right: 4%;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}