*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(15px);
    /* border: 2px solid purple; */
}

.heading{
    /* border: 2px solid blue; */
    font-size: 2em;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    
}

.innerContainer{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid greenyellow; */
}

.leftSection{
    width: 60%;
    height: 95%;
    /* border: 2px solid rgb(29, 215, 178); */
}

.rightSection{
    width: calc(100% - 60%);
    float: right;
    height: 95%;
    
    
    /* border: 2px solid red; */
}

.image{
    margin-top: 2rem;
    border-radius: 30%;
    box-shadow: 0px 0px 12px 3px white;
}

@media(max-width: 820px){
    .innerContainer{
        width: 100%;
    }
    .rightSection{
        display: none;
    }
    .leftSection{
        width: 100%;
    }

}

#btn:hover{
    background-color: #3cbaa0;
    transition: 500ms;
    box-shadow: 0px 0px 3px 5px while;
    font-size: 1rem;
    color: rgb(32, 28, 28);
}


