
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
body {
    background-image: url(leafbg.jpeg);
    overflow-y: hidden;
    
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1{
    margin-top: -10%;
    width: 85%;
    height: 70vh;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-section{
    
    width: 40%;
    height: 100%;
    position: relative;
    
    
}

.right-section img{
    margin: 0 auto;
    width: auto;
    height: 100%;
}

.left-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quote{
    font-family: 'Agbalumo', system-ui;
    color: #fff;
    text-align: center;
    font-size: 40px;
    stroke: black;
    line-height: 1.2;
    margin-top: 3%;
    margin: 0 auto;
    margin-left: 15%;
    
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: rgba(224, 202, 202, 0);
    border-radius: 10px;
    margin-left: 17%;
}

#search-bar{
    background-color: transparent;
    width: 70%;
    
}

#search-bar::placeholder{
    font-weight: bold;
    color: rgb(20, 12, 12);
    padding-left: 10px;
    border: none;
}

.search-btn{
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    background-color: #2A6C50;
    border-radius: 10px;
}

.explore-btn{
    width: 30%;
    height: 10%;
    text-align: center;
    cursor: pointer;
    background-color: #2A6C50;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
}
