@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* background-color: rgb(250, 239, 223); */

    overflow-x: hidden;
}

.t {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.container1 {
    /* position: fixed; */
    /* background-color: rgb(250, 239, 223); */
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}


.left {
    display: flex;
    justify-content: center;
    /* background-color: rgb(250, 239, 223); */
    /* background: rgb(87, 168, 255); */
    width: 100%;
    /* color: rgb(0, 130, 130); */
    margin-top: 10px;
}


.left p {
    /* position: absolute; */
    margin: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.8em;
    transition: 0.2s;
}

.quote {
    position: fixed;
    margin-right: 50%;
    top: 25%;
    left: 5%;
}

.quote p {

    top: 10%;
    left: 20%;
    margin: -1%;
    font-size: medium;
    transition: 0.2s;
    display: flex;
}

.search {
    top: 58%;
    position: fixed;
    width: 30vw;
    height: 60px;
    border-radius: 28px;
    border: 5px solid rgb(0, 130, 130);
    background-color: white;
    display: flex;
    transition: 0.8s;
    margin-right: 50%;
    top: 40%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
}

.search input {
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.search img {
    /* position: absolute; */
    color: blue;
    height: 25px;
    width: 25px;
    margin: 10px 20px;
}

.right {
    /* background-color: rgb(250, 239, 223); */
    /* background-color: white; */
    width: 100%;
}


.search:hover {
    width: 30vw;
    transition: 0.8s;
}

.timg {
    position: absolute;
    height: 90vh;
    margin-top: 4%;
    margin-left: 60%;
}

.container2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardContainer {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 1rem auto;
    grid-gap: 180px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    /* left: 0; */

}

.cardT {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    display: flex;
    justify-content: space-around;
    width: 460px;
    align-items: center;
}

.cardT p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    color: rgb(0, 130, 130);
}


.card1,
.card2,
.card3 {
    background-color: rgb(0, 130, 130);
    height: 500px;
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 25px rgb(68, 68, 68);
}


.card1 img,
.card2 img,
.card3 img {
    height: 250px;
    width: 430px;
    margin: 2%;
    border-radius: 10px;
    object-fit: cover;
}

.infoSection {
    margin: 0 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.infoSection h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4em;
}

.card1 h1,
.card2 h1,
.card3 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
    background-color: wheat;
    width: 130px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}

.card1 h2,
.card2 h2,
.card3 h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
}

.container3 {
    height: 30vh;
    background-color: gray;
}


@media (max-width:1259px) {
    .search {
        top: 30%;
        left: 22%;
    }
}

@media (max-width:950px) {

    .right,
    .timg {
        display: none;
    }

    .search {
        width: 60vw;
        margin: 0;
        transition: 0.8s;
        margin-left: 30%;
        top: 20%;
    }

    .search:hover {
        width: 70vw;
        transition: 0.8s;
    }

    .cardContainer {
        /* width: 100%; */
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}