* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #cac3c343;
  position: relative;

}

.nav-title {}

.nav-title img {
  height: 7vh;
  /* top: -2%; */
  margin-top: -5%;
  margin-left: -5%;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;

}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);

}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;

  }

  .nav-links {
    background-color: #ffffff10;
    backdrop-filter: blur(25px);
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 40%;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
    z-index: 1;
    border-radius: 0 0 12px 12px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;

  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
    /* background-color: #ffffff10;
    backdrop-filter: blur(25px); */
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 360px);
    overflow-y: auto;
    /* background-color: #ffffff10;
    backdrop-filter: blur(25px); */
  }
}
@media (max-width:430px){
  .nav-title img{
    height: 6vh;
  }
}