.modalBackground {
    /* width: 100vw;
    height: 100vh; */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 60%;
    height: 75vh;
    border: 1px solid white;
    background: rgba(81, 80, 80, 0.878);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(40px);
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    z-index: 999;
    padding: 10px;
}

.modald1 {
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
}

.title {
    color: #f1f1f1;
    font-size: 1.7rem;
    font-weight: 800;
}

.modald1 button {
    margin-bottom: 15px;
    margin-left: 15px;
}

@media (max-width:960px) {
    .modalContainer {
        width: 95%;
    }
}