.d4 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.parent4{
    height: 80vh;
    width: 70vw;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    border: 2px solid;
    border-color: #fff;
    border-right: 1px solid white;
    border-top: 1px solid white;
    color: white;
    margin-top: 2%;
    display: flex;
}
.content4{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.title4{
    margin-top: 1.5%;
    font-size: 1.7em;
    font-weight: 600;
}
.title4 p{
    font-family: 'Times New Roman', Times, serif;
}
