@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent1 {
    height: 100%;
    width: 97%;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}


li.d2 {
    width: 1520px;
    height: 150px;
    border: 2px solid red;
    margin: 7px auto;
    border-radius: 10px;
    background-color: rgb(255, 173, 107);
    overflow: hidden;
    align-self: center;


}