@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.top {
    overflow: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.im1 {
    height: 97vh;
    opacity: 0.7;
}

.parent1 {
    position: fixed;
    /* height: 92vh; */
    width: 100%;
    top: 50%;
    left: 50%;
    padding-left: 10%;
    /* margin-left: 15%; */
    transform: translateY(-50%) translateX(-50%);
    margin: 0.5%;
    /* background-color: #e7e1e1e8; */
    /* background-color: #474747f9; */
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    /* box-shadow: 0 0 10px white; */
    transition: 0.5s;
    margin-top: 2%;

}

.listContainer {

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* margin: 0 5%; */
    max-height: 88vh;
    width: 90%;
    padding-top: 0px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.listContainer ::-webkit-scrollbar {
    display: none;
}

.listContainer {
    scrollbar-width: none;
    -ms-overflow-style: none
}

.listOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
    /* height: 2vh; */
}

.search {
    border-radius: 20px;
    width: 300px;
    height: 4vh;
    background-color: #575757;
    padding: 0 20px;
    color: white;
    border: none;
    outline: none;
    transition: 0.8s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search:hover {
    width: 500px;
    transition: 0.8s;
}



.filterContainer {
    margin-left: 5%;
    border-radius: 20px;
    width: 25vw;
    height: 4vh;
    background-color: #444444;
    padding: 0 20px;
    align-items: center;
    border: none;
    display: flex;
    font-weight: 700;
    font-size: 1.1em;
    color: wheat;

}

.filterContainer p {
    width: 20vw;
}

select {
    background-color: #444444;
}

option {
    background-color: white;
    color: black;
}

.listItem {
    /* color: white;
    border-radius: 5px;
    background-color: rgb(0, 130, 130);
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    transition: 0.8s;
    width: 360px; */
    background-color: rgb(0, 130, 130);
    height: 400px;
    width: 370px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgb(68, 68, 68);
    transition: 0.2s;

}

.listItem:hover {
    background-color: rgb(1, 112, 112);
    transition: 0.8s;
}

.listItem img {
    border-radius: 5px;
    height: 200px;
    width: 350px;
    margin-top: 8px;
}

.itemContent {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
}

.itemContent h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: wheat;
    width: 130px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    margin-top: 10px;

}

.itemContent p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    max-height: 100px;
    overflow-y: auto;
}

@media (max-width:830px) {
    .parent1 {
        /* width: 90%; */
        transition: 0.8s;
    }
}

@media (max-width:500px) {
    .parent1 {
        width: 90%;
        transition: 0.8s;
    }
}